/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Horizental Scrollable table */
body {
  border-top: 4px solid #5eadc8;
  padding: 0;
  margin: 0;
  font-family: "Yanone Kaffeesatz", "Helvetica Neue", Helvetica, Arial, sans-serif sans-serif;
  font-size: 18px;
  color: #333;
  min-width: 600px; }

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.8em; }

a {
  text-decoration: none;
  color: inherit; }

input:focus, a:focus, button:focus {
  outline: none; }

input:focus {
  border-bottom: 1px solid #5eadc8;
  background-color: #e3f1f5; }

a:focus, button:focus, a:hover {
  color: #5eadc8; }

header {
  text-align: right;
  padding: 0.7em;
  font-size: 0.8em;
  width: 90%;
  margin: 0 auto; }
  header a {
    padding: 1em; }

.main-view {
  padding-top: 4em;
  width: 90%;
  margin: 0 auto;
  text-transform: lowercase; }
  .main-view .temps a {
    padding: 2em 1.5em 0.2em;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin-top: 2em;
    margin-right: 1em;
    display: inline-block; }
  .main-view .temps .selected {
    color: #fff;
    border: 1px solid #5eadc8;
    background-color: #5eadc8; }

button {
  border: 1px solid #5eadc8;
  border-radius: 4px;
  padding: 0.7em 1em;
  line-height: 1em;
  background: transparent;
  font-size: 0.8em;
  text-transform: lowercase;
  color: #5eadc8;
  cursor: pointer; }
  button:focus, button:hover {
    background-color: #e3f1f5;
    border: 1px solid #5eadc8; }
  button.small {
    font-size: 0.6em; }
  button.bold {
    font-weight: bold; }
  button.no-btn {
    color: #999999;
    border: none; }
    button.no-btn:hover {
      color: #333333;
      background: transparent; }

section {
  margin: 2em auto;
  width: 80%; }
  section.greeting {
    margin: 20% auto 8em;
    font-size: 1.4em; }
    section.greeting h1 {
      margin: 0.3em auto 1.5em; }
    section.greeting p {
      margin-bottom: 0; }
    section.greeting span {
      font-weight: bold;
      text-transform: capitalize; }
  section h2 {
    margin: 4em auto 2em; }
  section label {
    display: block;
    font-size: 1em;
    color: #999999; }
  section input {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    color: #5eadc8;
    padding: 0.7em 0.5em;
    width: 60%;
    font-size: 0.8em;
    margin: 0.3em auto 1em;
    text-transform: none; }
  section pre {
    background-color: #f5f5f5;
    border-radius: 4px;
    font-size: 0.7em;
    padding: 1em;
    min-height: 8em;
    max-height: 550px;
    overflow: scroll;
    text-align: left;
    color: #999999;
    text-decoration: none; }

.test {
  margin: 4em auto 8em;
  font-size: 1.4em; }

.modal-view {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center; }
  .modal-view .modal {
    width: 80%;
    max-width: 400px;
    margin: 2em auto;
    background-color: #fff; }
    .modal-view .modal .control {
      padding: 1em 2em; }
    .modal-view .modal > div {
      padding: 0.2em 2em; }

.dash-box {
  background-color: #0d212b;
  min-height: 10em; }

.login {
  width: 90%;
  max-width: 380px;
  margin: 7em auto 2em;
  padding: 1.4em 0.8em 0.8em 0;
  border: 1px solid #e6e6e6;
  border-radius: 4px; }
  .login section {
    margin: 0 auto 0em;
    text-align: center; }
    .login section input {
      width: 100%; }
    .login section button {
      text-align: center;
      margin-bottom: 3em;
      display: block;
      font-size: 1em;
      margin: 1em auto 2em;
      width: 8em; }
    .login section small a {
      color: #999999; }

.review {
  max-width: 1000px;
  margin: auto; }
  .review ul {
    padding: 0; }
    .review ul li {
      width: 100%;
      list-style-type: none;
      border-top: 1px solid #999999; }
    .review ul aside {
      width: 100%;
      display: table; }
      .review ul aside section {
        width: 50%;
        display: table-cell;
        padding: 2em;
        vertical-align: middle; }
        .review ul aside section pre {
          width: 100%;
          max-width: none; }

.all-dashes {
  width: 100%;
  height: 100%;
  padding: 75px 0 0 0;
  background: #0d212b;
  z-index: -1;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; }
  .all-dashes h1, .all-dashes h2, .all-dashes h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 300; }
  .all-dashes h1 {
    line-height: 1.8em;
    font-size: 1.4em;
    font-weight: 300; }
  .all-dashes p {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: left; }
  .all-dashes a:hover {
    color: #fff; }
  .all-dashes article {
    width: 320px;
    margin: 0 auto;
    position: relative; }
  .all-dashes article header {
    text-align: left;
    padding: 0;
    margin: 0; }
  .all-dashes article header h1 {
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.5em;
    margin-left: 0.5em;
    position: relative; }
  .all-dashes article header h1 span {
    text-transform: capitalize;
    font-weight: 300; }
  .all-dashes article header h1 img {
    width: 10px;
    height: 10px;
    margin-top: 6px;
    margin-right: 0.2em;
    vertical-align: text-bottom; }
  .all-dashes .front, .all-dashes .back {
    min-height: 80px;
    margin: 0.8em auto 1.2em;
    border: solid 1px #17313d;
    border-radius: 3px;
    position: relative;
    background: #0e2936;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-perspective: 600px;
    -moz-perspective: 600px; }
  .all-dashes .viewport {
    width: 298px;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transform: translateZ(0);
    /* Optional: When heavy at iOS6+ */ }
  .all-dashes .viewport section {
    float: left;
    width: 298px;
    margin: 0;
    margin-right: 17px; }
  .all-dashes .viewport section > div {
    border-bottom: 1px solid #163240;
    margin-bottom: 1em;
    position: relative;
    min-height: 70px; }
  .all-dashes .viewport section > div:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0.5em; }
  .all-dashes .table {
    display: table; }
  .all-dashes .cell {
    display: table-cell;
    vertical-align: top;
    padding: 0.5em; }
  .all-dashes .middle {
    vertical-align: middle; }
  .all-dashes .hero {
    padding: 0.5em;
    width: 284px; }
  .all-dashes .avatar {
    border-radius: 8px;
    width: 50px; }
  .all-dashes .location-btn {
    background: url(../img/location-btn.png) no-repeat center center;
    background-size: 20px; }
  .all-dashes .location-btn a {
    width: 40px;
    height: 40px;
    display: block; }
  .all-dashes .grey {
    color: #666; }
  .all-dashes .bold {
    font-weight: 400; }
  .all-dashes .centered {
    text-align: center; }
  .all-dashes .middle {
    vertical-align: middle; }
  .all-dashes .unit {
    font-size: 0.7em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
