<header>
    <a ng-click="logout()">Logout</a>
</header>
<div class="main-view" >

    <div ng-show="user.dashes.length > 0">
        <section class="greeting" >
            <p>Hey <span>{{user.name}}</span>,</p>
                <h1>You've built  
                    <span ng-show="user.dashes.length > 0" ng-repeat=" dash in user.dashes">
                        <b><a ng-click="showMe(dash)">{{dash.dash_title}}</a>, </b>
                    </span>
                </h1>
            <!-- <button class="show-modal" ng-click="showMe()">Show me a glimps!</button> -->
        </section>
    </div>

    <div ng-show="user.private_dashes_left > 0">

        <section class="greeting" ng-show="!started">
            <p>Hey <span>{{user.name}}</span>,</p>
            <h1>You ready to build a dash together?</h1>
            <button ng-click="start()">Let's do it!</button>
        </section>
        <section>
            <label>Choose a unique name for your dash,</label>
            <input
                style="text-transform: none;" 
                type="text" 
                ng-model="privateDash.dash_title"
                placeholder="MyUniqueDash" 
                required 
                check-dash-unique-name
                >
        </section>

        <section class="temps">
            <label>Pick a template,</label>
            <a 
                class="selected" 
                ng-click="setPrivateType('text')">Text only
            </a>
            <a ng-click="setPrivateType('image')" >
                Image only
            </a>
            <!-- <a 
                ng-click="setPrivateType('slideshow', 'image_text')">
                Image & text
            </a> -->
        </section>

        <section>
            <label>Paste your API end point here</label>
            <!-- <input
                style="text-transform: none;" 
                type="text" 
                placeholder="http://example.com/api?key='your_key_here_if_needed'" 
                required ng-model="apiEndPoint"> -->
            <input
                style="text-transform: none;" 
                type="text" 
                placeholder="http://example.com/api?key='your_key_here_if_needed'" 
                required ng-model="privateDash.source_uri">
            <button class="get-btn" ng-click="getApi()">GET</button>
            <pre api-response-object style="text-transform: none;">
            </pre>
        </section>

        <section>
            <h2>Now let's do some extraction magic<br> on our json object and put it in good use</h2>
        </section>

        <section>
            <label>Extract the array of objects which contains the sources</label>
            <input
                style="text-transform: none;" 
                type="text" placeholder="object.array" 
                ng-model="privateDash.data_container">
        </section>

        <section>
            <label>Extract the source link </label>
            <input
                style="text-transform: none;" 
                type="text" 
                placeholder="object.link"
                ng-model="src_comp.resource_uri">
        </section>

        <section ng-show="privateDash.dash_type != 'text'">
            <label>Extract the Hero image object (required)</label>
            <input
                style="text-transform: none;" 
                type="text" placeholder="object.main_img_url" 
                ng-model="hero_comp.main_img">
        </section>

        <section ng-show="privateDash.dash_type != 'image'">
            <label>Extract the Headline object (required)</label>
            <input
                style="text-transform: none;" 
                type="text" placeholder="object.header"
                ng-model="desc_comp.header">
        </section>
        
        <section ng-show="privateDash.dash_type == 'text'">
            <label>Extract the Body text object (required)</label>
            <input
                style="text-transform: none;" 
                type="text" placeholder="object.text"
                ng-model="desc_comp.text">
        </section>
        
        <section>
            <label>Extract the Footer object (required)</label>
            <input
                style="text-transform: none;" 
                type="text" placeholder="object.footer"
                ng-model="footer_comp.footer">
        </section>
        
        <section class="test">
            <h2>That's about it! <br>now Let's see how it looks...</h2>
            <button ng-click="tryIt()">try it!</button>
        </section>
    </div>
</div>

<div class="modal-view" style="display: none;">
    <div class="modal">
        <aside class="dash-box">
            <dash-preview></dash-preview>
        </aside>
        <div class="control">
            <div ng-show="user.private_dashes_left > 0">
                <button class="small no-btn" ng-click="dismissModal()">Needs some adjustments...</button>
                <button class="small okay" ng-click="submit()">
                    <span ng-show="!submitPressed">Looks good!</span>
                    <b ng-show="submitPressed">Submit for review!</b>
                </button>
            </div>
            <div ng-show="user.private_dashes_left == 0">
                <button class="small no-btn" ng-click="dismissModal()">Ok!</button>
            </div>
        </div>
        <div class="confrimation" style="display: none;">
            <h1>Awesome!</h1>
            <p>You just made a dash in less than 6 mins...</p>
            <p>In less than 24hrs you'll get notified that your awesome dash is ready for production. Volah! (;</p>
            </h1>
        </div>
    </div>
</div>
<div class="spinner" style="display:none">
    <img src="https://s3.amazonaws.com/s3.dashbook.co/dbkapp/img/spinner-icon.png">
</div>