
<div class="signup col-md-4">
	<p>Signup</p>
	<form role="form">
		<div class="form-group">
			<input ng-model="name" type="text" class="form-control" placeholder="Name" required>
		</div>
		<div class="form-group">
			<input 
				ng-model="emailAddress" type = "email" 
				class = "form-control" 
				placeholder = "Email Address" 
				required>
		</div>
		<div class="form-group">
			<input ng-model="password" type="password" 
			class="form-control" placeholder="Password"
			required>
		</div>
		<div class="checkbox">
			<input type="checkbox"> Remember Me
		</div>
		<button class="btn btn-default" ng-click="signup()">Signup</button>
	</form>
</div>
