<div class="login">
    <section>
        <h1>Sign up for dashbench and start builiding dashes right away!</h1>
    </section>
    <section>
        <input type="text" placeholder="name" required ng-model="name">
    </section>
    <section>
        <input type="email" placeholder="email" required ng-model="emailAddress">
    </section>
    <section>
        <input type="password" placeholder="password" required ng-model="password">
    </section>
    <section>
        <button ng-click="signup()">Sign up</button>
        <small>Already have an account? <a href="#/login">Login here</a></small>
    </section>
</div>